main {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.message {
    background-color: lightgreen;
    color: green;
    text-align: center;
    width: 400px;
    border-radius: 10px;
    border: 20px;
}

a{
    text-decoration: none;
}